@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet" ');


.App {
  text-align: center;
  margin: 0 auto;
}

.card {
  margin: auto;
  background: linear-gradient(to bottom,white,pink);
  color: black;
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.city{
  font-family: Merriweather, sans-serif;
  font-size: 1.6em;
}

.icon {
  width: 35%;
}